/*
--- 01 TYPOGRAPHY

- Font Size System (px) : 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line Height (default) : 1

- Font Weight (default) : 400

--- 02 COLOR

- Text Color : #555 

- Main Color : #631357, #3a0733


- Lighter Color :  #b288a8 ,#c29fb9,#d1b6ca,#e1cedc , #f0e6ed

- Dark Color : #21031c ,#160112 , #0b0108,#030003 ,#000000

- Tints : #631357 , #732d67 , #834477 , #935b87 , #a37198 , 

- Shades : #631357 , #550f4b , #470b3e ,#3a0733 ,#2e0527 , 

--- 03 ICONS 

--- 04 IMAGES 

--- 05 SHADOWS 

--- 06 BORDER-RADIUS 

--- 07 WHITE-SPACING

- Spacing System (px) : 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.477);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
}

/*****************/
/* GENERAL REUSABLE CODE */
/*****************/
strong {
  font-weight: 500;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center--vertical {
  align-items: center;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
/*****************/
/* HEADER */
/*****************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #67055d;
  /* rgba(77, 0, 67, 0.909); */
  padding: 0 5.2rem;
  height: 9.6rem;
  position: relative;
}
/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
.gamemano-logo {
  height: 6rem;
  margin-left: -13px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
/* 
 <ion-icon
          name="menu-outline"
          class="icon-mobile-nav menu-icon"
        ></ion-icon>
        <ion-icon
          name="close-outline"
          class="icon-mobile-nav close-icon"
        ></ion-icon>
*/

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.nav-cta:link,
.nav-cta:visited {
  background: linear-gradient(#61105e 0%, #dd4c4c 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #6c406b;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: transparent;
  color: #fff;
}
/*****************/
/* HERO */
/*****************/
.section-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../src/assets/images/background-images/bg-img-3.jpg");
  padding: 4.8rem 0 9.6rem 0;
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  opacity: 0.9;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  padding: 0 3.2rem;
}
.heading-primary {
  font-size: 6rem;
  font-weight: bolder;
  font-family: "Nova Square", sans-serif;
  color: #ff0075;
  margin-bottom: 3.2rem;
  line-height: 1.05;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #fff;
}
.hero-description-underline {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 0.1rem;
}
.line {
  width: 110px;
  height: 5px;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  border-radius: 3px;
  margin: 14px;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  color: #fff;
  font-family: "MuseoModerno", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  transition: background-color 0.5s;
  cursor: pointer;
  font-family: "MuseoModerno", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn--primary:link,
.btn--primary:visited {
  background: linear-gradient(to right, #d53a9d, #743ad5),
    linear-gradient(to right, #d53a9d, #743ad5);
  background-position: 22px 0, 22px 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - 22px - 22px) 2px;
  padding: 1rem 6.2rem;
  border-radius: 22px;
  border: none;
  position: relative;
  color: #fff;
}
.btn--primary:before,
.btn--primary:after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  top: 0;
  bottom: 0;
}

.btn--primary:before {
  left: 0;
  border: 2px solid #d53a9d;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-right-color: transparent;
}

.btn--primary:after {
  right: 0;
  border: 2px solid #d53a9d;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-left-color: transparent;
}

/* bg */

.arrow-icon {
  /* font-size: 2rem; */
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
.btn--secondry:link,
.btn--secondry:visited {
  background-color: #b1c1cc;
  color: #fff;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: #d53a9d;
  border: 1px solid #d53a9d;
}
.btn--secondry:hover,
.btn--secondry:active {
  background-color: #7e8e99;
}
.margin-right-sm {
  margin-right: 1.8rem !important;
}
.hero-img {
  width: 100%;
}

/*****************/
/*  PRODUCT  */
/*****************/
.slider {
  background: #26072c;
  padding: 4.8rem 0 9.6rem 0;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: 100px;
  margin: -100px auto;
  text-align: center;
  padding: 1rem 4.8rem;
  background-color: #fff;
  border: 3px solid #eb994e;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 9.6rem;
  gap: 4.8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #d9480f;
  font-weight: 700;
}

/*****************/
/* FEATURED IN  */
/*****************/
.products {
  padding: 4.8rem 0 9.6rem 0;
  text-align: center;
  background-color: #26072c;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: bolder;
  font-family: "Nova Square", sans-serif;
  color: #ff0075;
  margin-bottom: 3.2rem;
  line-height: 1.05;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #fff;
}
.card-products {
  padding: 4.8rem 0 9.6rem 0;
}
.col {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.card-details {
  background-color: #fff;
  width: 150px;
  /* height: 100px; */
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-bottom: 3.2rem;
}
.saved {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-product {
  width: 100%;
  border-radius: 12px;
  margin: 5px 0;
  font-size: 15px;
  padding: 2px 8px;
  text-align: center;
  font-weight: 500;
  color: #040404;
  font-family: "MuseoModerno", sans-serif;
  background-image: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d5 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #f323b7 87.5%,
    #fe3873 100%
  );
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/*****************/
/* SECTION HOW IT WORKS */
/*****************/
.section-how {
  padding: 9.6rem 0;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  color: #d9480f;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-secondry {
  font-size: 4.4rem;
  color: #333;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-bottom: 9.6rem;
}
.step-number {
  font-size: 8.4rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.heading-tertiary {
  font-size: 3rem;
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  position: absolute;
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #e67e22;
  z-index: -1;
}
.step-img {
  width: 35%;
}

/*****************/
/* SECTION MEALS */
/*****************/
.section-meals {
  padding: 9.6rem 0;
}
.meals {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}
.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 40px 0px;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.meal-img {
  width: 100%;
}
.ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;

  border-radius: 10px;
  margin: 1.5rem 0;

  display: inline-block;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #37b24d;
  color: #333;
}
.tag--vegan {
  background-color: #51cf66;
  color: #333;
}
.tag--paleo {
  background-color: #ffd43b;
  color: #333;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.list-icon {
  width: 2rem;
  height: 2rem;
  color: #e67e22;
  font-weight: 700;
}
.all-recipes {
  text-align: center;
  font-size: 2rem;
}
.recipes:link,
.recipes:visited {
  color: #e67e22;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #e67e22;
  font-weight: 500;
  transition: all 0.3s;
}

.recipes:hover,
.recipes:active {
  color: #b8651b;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

/*****************/
/* SECTION TESTIMONIALS */
/*****************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  row-gap: 6.4rem;
  column-gap: 2.4rem;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}
.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonail-name {
  font-size: 1.4rem;
  color: #777;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*****************/
/* SECTION PRICING */
/*****************/
.section-pricing {
  padding: 9.6rem;
}
.pricing-plan {
  border-radius: 12px;
  width: 75%;
}
.pricing-plan-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan-complete {
  padding: 4.8rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::after {
  content: "Best Value";
  text-transform: uppercase;
  position: absolute;
  top: 7%;
  right: -18%;
  font-size: 1.4rem;
  background-color: #ffd43b;
  color: #333;
  transform: rotate(45deg);
  padding: 0.6rem 8rem;
  font-weight: 700;
}
.list {
  align-items: start;
  margin-left: 5rem;
}
.plan-header {
  text-align: center;
}
.plan-name {
  color: #e67e22;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.8rem;
}
.plan-price {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.plan-price span {
  letter-spacing: -0.75px;
  font-size: 2.4rem;
  font-weight: 500;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
  color: #6f6f6f;
}
.sign-up-plan {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

/*****************/
/* FEATURE SECTION */
/*****************/

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*****************/
/* CALL TO ACTION (CTA) SECTION */
/*****************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  /* height: 55rem; */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(to right bottom, #eb994e, #e67e22);
}
.cta-text-box {
  padding: 6.4rem;
}
.cta .heading-secondry {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #45260a;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 153, 76, 0.25),
      rgba(230, 125, 34, 0.25)
    ),
    url("");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  font-size: 1.8rem;
  display: block;
  color: #555;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit !important;
  background-color: #ffe8cc;
  border: none !important;
  border-radius: 9px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cta-form input::placeholder {
  color: #777;
}
.cta-form input:focus,
.cta-form select:focus,
.btn-form:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.cta-form .btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  margin-top: 1.2rem;
  transition: all 0.5s;
}

.btn-form:hover,
.btn-form:active {
  background-color: #fdf2e9;
  color: #45260a;
}

/*****************/
/* CALL TO ACTION (CTA) SECTION */
/*****************/
.section-footer {
  /* padding-top: 12.8rem; */
  border: 1px solid #eee;
  background-image: url("../src/assets/images/background-images/bg-img-5.jpg");
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}
.footer-text {
  letter-spacing: 0.1rem;
  line-height: 1.7;
  font-size: 1.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #fff;
  letter-spacing: -0.75px;
  margin-top: auto;
  text-align: center;
  background-color: #67055d;
  text-transform: uppercase;
  padding: 1.5rem 0;
}
.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  /* font-size: 1.8rem; */
  margin-bottom: 3.2rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transition: all 0.3s;
}
.footer-links:link,
.footer-links:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #767676;
  text-transform: uppercase;
}

.footer-links:hover,
.footer-links:active {
  color: #333;
}
