* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.477); */
}
html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
}

/*****************/
/* GENERAL */
/*****************/
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center--vertical {
  align-items: center;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/*****************/
/* HERO */
/*****************/
.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/images/bg-img-2.jpg");
  padding: 4.8rem 0 9.6rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  text-align: center;
}
.main-heading {
  display: block;
  width: 40%;
  margin: auto;
}
.sub-heading {
  display: block;
  height: 10px;
  margin: auto;
}
.view-all-products {
  height: 50px;
  margin: 30px auto;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: inline-block;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
  /* sign up btn styling */
  border: none;
  font-family: inherit !important;
}
.btn--primary:link,
.btn--primary:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--secondry:link,
.btn--secondry:visited {
  background-color: #b1c1cc;
  color: #fff;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: #b8651b;
}
.btn--secondry:hover,
.btn--secondry:active {
  background-color: #7e8e99;
}
.margin-right-sm {
  margin-right: 1.8rem !important;
}
.hero-img {
  width: 100%;
}

.product {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  text-align: center;
}

/*****************/
/* PRODUCT SECTION */
/*****************/
.section-product {
  padding: 6rem 0;
  /* margin-top: 4.2rem; */
  background-color: #26072c;
}
.product-logo {
  width: 220px;
  margin: 12rem 0 3rem 0rem;
}
.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 280px;
  overflow: hidden;
  transition: all 0.4s;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0px 0px 36.423px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-content {
  padding: 1rem 3rem;

  /* text-align: center; */
}
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.product-header-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #a8620a 2%,
    #e09519 20%,
    #ffe581 48%,
    #fcdc75 52%,
    #f6c755 60%,
    #eca522 71%,
    #e8980f 75%,
    #feb838 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-heading {
  color: #ffffff;
  font-size: 32px;
  margin: 2rem 0;
  font-family: "Nova Square", sans-serif;
}
.product-info {
  padding: -10px 0 0 0;
  text-align: left;
}
.product-title {
  font-size: 22px;
  color: #000;
  margin: 1rem 0;
}
.product-rating {
  margin-bottom: 2rem;
}
.product-description {
  color: #131313;
  letter-spacing: 2px;
  line-height: 1.2;
}
.product-price,
.product-discount {
  color: #000 !important;
  font-size: 14px !important;
  font-weight: 400;
  margin-top: 10px;
}

.product-img {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid goldenrod; */
  padding: 2px;
}
.product-images {
  width: 150px;
  height: 200px;
}
.view-btn {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 20px;
  border-radius: 50.5px;
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ed19d8 81.25%,
    #fe3873 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ion-icon {
  font-size: 22px;
}

.right-arrow {
  width: 20px;
}

/* PRODUCTS PAGE  */
.section-all-product {
  padding: 1rem 0;
  /* margin-top: 4.2rem; */
  background-color: #26072c;
}

.all-products {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  text-align: center;
}
.all-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
}
.filtered-products-title {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1.4px;
  color: #fff;
  font-family: "Nova Square", sans-serif;
}

.all-product select {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 1rem;
  background: linear-gradient(120deg, #a6c0fe 40%, #f68084 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.category-data {
  font-size: 20px;
  text-transform: capitalize;
  margin: 1rem;
  background: linear-gradient(120deg, #a6c0fe 40%, #f68084 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PRODUCT DETAILS */
.section-product-details {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/images/product-details-bg-1.jpg");
  padding: 4rem 0 9rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.product-details {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  text-align: center;
}
.product-detail-logo {
  width: 300px;
  margin: 80px 0 0 0;
}
/* .product-name h3 {
  font-size: 32px;
  margin: 30px 0;
  color: #fff;
} */
.section-product-info {
  padding: 1rem 0;
  /* margin-top: 4.2rem; */
  background-color: #26072c;
}
.product-details-container {
  min-width: 200px;
  max-width: 600px;
  height: 230px;
  margin: auto;
  overflow: hidden;
  transition: all 0.4s;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0px 0px 36.423px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 100px 0 5px;
  border: 3px solid goldenrod;
  font-family: "Poppins", sans-serif;
}
.image-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.product-thumbnail {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid goldenrod;
  padding: 2px;
}
.image-card {
  width: 150px;
  overflow: hidden;
  height: 200px;
  background-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) 1;
}
.product-rating {
  color: gold;
  font-size: 16px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem 0;
}
.right-icon,
.left-icon {
  width: 30px;
  cursor: pointer;
}
.right-icon {
  margin-left: 30px;
}
.carousel-container {
  width: 100%;
}
/* image slider */
.product-container {
  padding: 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 10px;
  margin-right: 30px;
  gap: 8.4rem;
  scroll-behavior: smooth;
}

/* media query for small desktops (Below 1350px) */

@media (max-width: 1350px) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* media query for ipad (Below 1200px) */
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .heading-secondry {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 6.4rem;
  }
  .list {
    margin-left: 3rem;
  }
}

/* media query for tablets (Below 944px) */
@media (max-width: 944px) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }
  .hero-img-box,
  .hero-text-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(7px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .open-nav .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }
  .open-nav .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .open-nav .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
}

/* media query for smaller tablets (Below 700px) */

@media (max-width: 704px) {
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-secondry {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .address-col,
  .logo-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* media query for mobile phones (Below 550px) */
@media (max-width: 544px) {
  .grid--2--cols,
  .grid--3--cols,
  .grid--4--cols,
  .grid--footer {
    grid-template-columns: 1fr;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.2rem;
  }
  .hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(3rem);
  }
}
